---
import Button from '@/components/ui/button.astro'
import Link from '@/components/ui/link.astro'
import CommonContainer from '@/components/common/container.astro'
import NavigationSearch from '@/components/navigation/search.astro'

interface Props {
  links: { text: string, href: string }[]
}

const { links } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g)
---
<header class="fixed h-16 inset-x-0 mx-auto bg-neutral-100 dark:bg-neutral-950/90 border border-neutral-200 dark:border-neutral-800 rounded-lg">
  <CommonContainer size="xl" class="flex justify-end lg:justify-between relative">
    <div class="hidden lg:flex flex-1 flex-wrap justify-center content-center">
      {links.map((link) => 
        <Link
          class="text-neutral-700 text-md dark:text-neutral-200 tracking-wider" 
          class:list={[pathname === link.href || `/${subpath?.[0]}` === link.href ? 'bg-neutral-200 dark:bg-neutral-800' : '']}
          href={link.href}
        >
          {link.text}
        </Link>
      )}
    </div>
    <div class="absolute left-0 top-[13px] flex flex-none flex-wrap content-center pl-3">
      <Button class="navigation-drawer-button font-medium m-0 rounded-lg p-2 text-sm lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>               
      </Button>
    </div>
    <div class="absolute right-0 top-[13px] flex flex-none flex-wrap content-center pr-3">
      <NavigationSearch />
      <Button class="rounded-full px-4 py-1 m-0 mx-1 bg-purple-700">Discord</Button>
    </div>
  </CommonContainer>
</header>
