---
import Layout from '@/layouts/base.astro';
import CommonContainer from '@/components/common/container.astro';
---

<Layout title="Om oss" description="Vi i Asgard">
  <CommonContainer size="xl">
    <div class="my-16">
      <h1 class="text-4xl lg:text-6xl font-bold text-center my-8">Om oss</h1>
      <p class="text-lg lg:text-xl leading-8">
        Välkommen till Asgard, ett svenskt Star Citizen gaming-community. Vi är en grupp passionerade spelare som strävar efter att utforska och dominera galaxen i Star Citizen. Vårt mål är att skapa en stark och sammanhållen gemenskap där varje medlem kan känna sig hemma.
      </p>
      <p class="text-lg lg:text-xl leading-8 my-8">
        Asgard grundades med visionen att bli en ledande kraft inom spelets ekonomiska och industriella sektorer. Genom samarbete och dedikation arbetar vi för att nå våra gemensamma mål och erövra nya höjder tillsammans.
      </p>
      <p class="text-lg lg:text-xl leading-8">
        Vi välkomnar spelare av alla erfarenhetsnivåer och erbjuder stöd och vägledning för att hjälpa alla att växa och utvecklas inom spelet. Gå med oss och bli en del av något större!
      </p>
    </div>
  </CommonContainer>
</Layout>
